@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 60px;
    background-color: #ffffff;
}


.menu {
    width: 100%;
    display: flex;
    justify-content: right;   
}

.nav-item i {
font-size: 20px;
}

.busca{

    background: url(../img/pesquisar1.png) no-repeat center right;
    padding: 13px;
    border: none;
    width: 110px;
    -wibkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    cursor: pointer;

}

.busca:focus{
    width: 700px;
    border-bottom: solid 1px #ddd;
    outline: none;
    
}



.footer{
    display: flex;
    justify-content: center;
    font-size: 70%;
}

.b-example-divider {
    margin-top: 25%;
}

h4{
    font-family: 'roboto';
    font-size: 140%;
    padding: 20px; 
    
    
} 

h5{
    font-size: 120%;
    padding: 20px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    
}

#linha-horizontal {
  width: 1200px;
  border-style:inset;
  border-bottom-width: 1px;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
    
}





















